<div class="h-full bg-card dark:bg-transparent">

    <mat-drawer-container
        class="flex-auto h-full"
        [hasBackdrop]="false">

        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden">

            <!-- Chats list -->
            <ng-container *ngIf="chats && chats.length > 0 || selectedChat; else noChats">
                <div
                    class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-100 lg:max-w-100 bg-card dark:bg-transparent"
                    [ngClass]="{ 'hidden lg:flex' : selectedChat }">

                    <!-- Header -->
                    <div class="flex flex-col flex-0 py-4 px-8 border-b bg-gray-50 dark:bg-transparent">
                        <div class="flex items-center">
                            <div
                                class="flex items-center mr-1 cursor-pointer"
                                [routerLink]="'/profile'">
                                <div class="w-10 h-10">
                                    <ng-container *ngIf="user.photo">
                                        <img
                                            class="object-cover w-full h-full rounded-full object-cover"
                                            [src]="user.photo"
                                            alt="Profile avatar"/>
                                    </ng-container>
                                    <ng-container *ngIf="!user.photo">
                                        <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                            {{user.name.charAt(0)}}
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="ml-4 font-medium truncate">{{user.name}}</div>
                            </div>
                        </div>
                        <!-- Search -->
                        <div class="mt-4">
                            <mat-form-field
                                class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full"
                                [floatLabel]="'always'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [autocomplete]="'off'"
                                    [placeholder]="'chat.search' | translate"
                                    (input)="filterChats(searchField.value)"
                                    #searchField>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Chats -->
                    <div class="flex-auto overflow-y-auto">
                        <ng-container *ngIf="filteredChats && filteredChats.length; else noChats">
                            <ng-container *ngFor="let chat of filteredChats; trackBy: trackByFn">
                                <div
                                    class="z-20 flex items-center py-5 px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedChat || selectedChat.chatId !== chat.chatId,
                                                'bg-primary-50 dark:bg-hover': selectedChat && selectedChat.chatId === chat.chatId}"
                                    [routerLink]=""
                                    [queryParams]="{'id': chat.chatId}"
                                    (click)="selectChat(chat)">
                                    <div class="relative flex flex-0 items-center justify-center w-10 h-10">
                                        <ng-container *ngIf="chat.unreadCount">
                                            <div
                                                class="absolute bottom-0 right-0 flex-0 w-2 h-2 -ml-0.5 rounded-full ring-2 ring-bg-card dark:ring-gray-900 bg-primary dark:bg-primary-500 text-on-primary"
                                                [class.ring-primary-50]="selectedChat && selectedChat.chatId === chat.chatId"></div>
                                        </ng-container>
                                        <ng-container *ngIf="chat.member.photo">
                                            <img
                                                class="w-full h-full rounded-full object-cover"
                                                [src]="chat.member.photo"
                                                alt="Contact avatar"/>
                                        </ng-container>
                                        <ng-container *ngIf="!chat.member.photo">
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{chat.member.name.charAt(0)}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">{{chat.member.name}}</div>
                                        <div
                                            *ngIf="chat?.lastMessage"
                                            class="leading-5 truncate text-secondary"
                                            [class.text-primary]="chat.unreadCount"
                                            [class.dark:text-primary-500]="chat.unreadCount">
                                            <span *ngIf="chat.lastMessage.userId === user.userId">{{ 'chat.you' | translate }}</span>
                                            <ng-container *ngIf="chat.lastMessage?.messageImage">
                                                {{ 'chat.image' | translate }}
                                            </ng-container>
                                            <ng-container *ngIf="!chat.lastMessage?.messageImage">
                                                {{ chat.lastMessage.messageText }}
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                </div>

            </ng-container>

            <!-- Conversation -->
            <ng-container *ngIf="selectedChat; else selectConversation">
                <chat-conversation
                    class="hidden lg:block w-full border-l"
                    [ngClass]="{ 'block': selectedChat, 'hidden lg:block': !selectedChat }"
                    [user]="user"></chat-conversation>
            </ng-container>

        </mat-drawer-content>

    </mat-drawer-container>

</div>

<!-- No chats template -->
<ng-template #noChats>
    <ng-container *ngIf="(!filteredChats || !filteredChats.length)">
        <div class="flex flex-auto flex-col items-center justify-center h-full">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'iconsmind:speach_bubble'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">{{ 'chat.no-chats' | translate }}</div>
        </div>
    </ng-container>
</ng-template>

<!-- Select chat or start new template -->
<ng-template #selectConversation>
    <ng-container *ngIf="chats && chats.length > 0">
        <div class="flex flex-col flex-auto hidden lg:flex items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'iconsmind:speach_bubble'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">{{ 'chat.select' | translate }}</div>
        </div>
    </ng-container>
</ng-template>
