<fuse-card class="flex flex-col p-8 rounded-none lg:rounded-2xl md:rounded-t-2xl sm:rounded-t-2xl">
    <div class="text-2xl font-semibold leading-tight">{{ 'profile.description.title' | translate }}</div>
    <div
        *ngIf="user?.about"
        class="mt-4">
        {{ user.about }}
    </div>
    <div
        *ngIf="!user?.about && !user?.sex && user.birthday.toString() === '0001-01-01T00:00:00' && !user?.region"
        class="mt-4">
        {{ 'profile.description.no-info' | translate }}
    </div>
    <hr
        *ngIf="user?.sex || user.birthday.toString() !== '0001-01-01T00:00:00' || user?.region"
        class="w-full border-t my-6">
    <div class="flex flex-col">
        <div
            *ngIf="user?.sex"
            class="flex items-center">
            <mat-icon
                class="icon-size-5 mr-3"
                [svgIcon]="'heroicons_solid:heart'"></mat-icon>
            <span class="leading-none">{{ getSex }}</span>
        </div>
        <div
            *ngIf="user.birthday.toString() !== '0001-01-01T00:00:00'"
            class="flex items-center mt-4">
            <mat-icon
                class="icon-size-5 mr-3"
                [svgIcon]="'heroicons_solid:cake'"></mat-icon>
            <span class="leading-none">
                {{ user.birthday | date: 'longDate' : '' : getLang }}
            </span>
        </div>
        <div
            *ngIf="user?.region"
            class="flex items-center mt-4">
            <mat-icon
                class="icon-size-5 mr-3"
                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            <span class="leading-none break-all">{{ user.region }}</span>
        </div>
    </div>
</fuse-card>
