<div
    *ngIf="user | async as user"
    class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- User info -->
        <info [currentUser]="currentUser"
              [user]="user"
              [isDisabled]="isDisabled"></info>

    </div>

    <!-- Main -->
    <div
        *ngIf="!user?.isYouBlocked && (user.isCurrentUser ? true : !isDisabled)"
        class="flex flex-auto flex-col lg:flex-row justify-center items-center lg:items-start w-full max-w-5xl mx-auto p-0 lg:p-4 md:p-4 sm:p-4">

        <!-- Column -->
        <div class="flex flex-col items-center w-full lg:w-auto lg:mr-8">

            <!-- Description -->
            <description
                class="lg:max-w-80 md:max-w-140 sm:max-w-140 w-full"
                [user]="user"></description>

            <!-- Favorites -->
            <favorites
                class="lg:max-w-80 md:max-w-140 sm:max-w-140 w-full"
                [user]="user"></favorites>

            <!-- Gallery -->
            <gallery
                class="lg:max-w-80 md:max-w-140 sm:max-w-140 w-full"
                [user]="user"></gallery>

        </div>

        <!-- Column -->
        <div class="flex flex-col items-center w-full lg:w-auto">

            <!-- Posts -->
            <posts
                class="lg:max-w-140 md:max-w-140 sm:max-w-140 w-full"
                [user]="user"></posts>

        </div>

    </div>

</div>
