<fuse-card class="flex flex-col justify-between min-w-60 max-w-60">
    <div class="flex flex-col items-center p-2">
        <div class="flex justify-end w-full ">
            <button
                mat-icon-button
                [disabled]="isDeleting"
                (click)="deleteFavorite()">
                <mat-icon
                    *ngIf="!isDeleting"
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:x'"></mat-icon>
                <mat-progress-spinner
                    *ngIf="isDeleting"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
        <div class="relative w-32 h-32">
            <img
                class="w-full h-full rounded-full"
                *ngIf="favoriteUser?.photo"
                [src]="favoriteUser.photo"
                alt="User avatar">
            <mat-icon
                class="w-32 h-32 rounded-full bg-gray-200"
                *ngIf="!favoriteUser?.photo"
                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        </div>
        <div class="mt-4 text-lg font-bold leading-none text-center break-all">{{ favoriteUser.name }}</div>
    </div>
    <hr>
    <div class="flex flex-col items-center p-2 -mt-3">
        <button
            mat-button
            [color]="'primary'"
            (click)="navigateToProfile('profile', favoriteUser.userId)">
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:user'"></mat-icon>
            <span class="ml-2">{{ 'favorites.favorite-person.profile' | translate }}</span>
        </button>
        <button
            mat-button
            [color]="'primary'"
            (click)="writeMessage()">
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
            <span class="ml-2">{{ 'favorites.favorite-person.write-message' | translate }}</span>
        </button>
    </div>
</fuse-card>
