<fuse-card
    #expandableCard="fuseCard"
    class="flex flex-col lg:max-w-140 md:max-w-140 sm:max-w-140 lg:min-w-140 w-full mt-4">
    <div class="flex items-center mx-6 sm:mx-8 my-4">
        <img
            *ngIf="owner?.photo"
            class="w-10 min-w-10 h-10 rounded-full mr-4 cursor-pointer"
            [src]="owner.photo"
            [routerLink]="['/profile', owner.userId]"
            alt="Card cover image">
        <mat-icon
            *ngIf="!owner?.photo"
            class="w-10 min-w-10 h-10 rounded-full mr-4 bg-gray-200 cursor-pointer"
            [svgIcon]="'heroicons_solid:user-circle'"
            [routerLink]="['/profile', owner.userId]">
        </mat-icon>
        <div class="flex flex-col">
            <span class="font-semibold leading-none">{{ owner.name }}</span>
        </div>
    </div>
    <div class="mx-6 sm:mx-8 mb-4">
        {{ post.description }}
    </div>
    <div
        *ngIf="post?.image"
        class="relative mx-6 sm:mx-8 mb-4">
        <img
            class="h-80 object-cover rounded-2xl"
            alt="Card cover image"
            [src]="post.image">
    </div>

    <div class="flex items-center mb-4 mx-3 sm:mx-5">
        <button
            class="px-3 mr-1"
            mat-button
            [ngClass]="{ 'bg-red-100': post?.isLike }"
            (click)="post?.isLike ? unlike() : like()">
            <mat-icon
                class="icon-size-5 mr-2"
                [ngClass]="{ 'text-red-500': post?.isLike }"
                [svgIcon]="'heroicons_solid:heart'"></mat-icon>
            <span class="mt-0.5">{{ post?.likesCount }}</span>
        </button>
        <button
            class="px-3 sm:-mr-4"
            mat-button
            (click)="expandableCard.expanded = !expandableCard.expanded">
            <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
            <span class="mr-1 mt-0.5">{{ post?.commentsCount }}</span>
            <mat-icon
                class="icon-size-5 transform transition-transform ease-in-out duration-150 rotate-0"
                [ngClass]="{'rotate-180': expandableCard.expanded}"
                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
        </button>
    </div>

    <ng-container fuseCardExpansion>
        <hr class="border-b m-0">
        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
            <div class="flex items-start">
                <img
                    *ngIf="currentUser?.photo"
                    class="w-12 min-w-12 h-12 rounded-full mr-4"
                    [src]="currentUser.photo"
                    alt="Card cover image">
                <mat-icon
                    *ngIf="!currentUser?.photo"
                    class="w-12 min-w-12 h-12 rounded-full mr-4 bg-gray-200"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <div class="flex flex-col w-full">
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript">
                        <textarea
                            matInput
                            matTextareaAutosize
                            #newComment
                            [disabled]="isSendingComment"
                            [(ngModel)]="commentText"
                            [placeholder]="'profile.posts.write-comment' | translate"
                            [rows]="3"
                            [maxLength]="150"></textarea>
                    </mat-form-field>
                    <div
                        *ngIf="newComment.value.length"
                        class="text-right mt-1 text-md text-hint">{{ newComment.value.length }} / 150</div>
                </div>
            </div>
            <div class="flex items-center mt-3 ml-auto -mr-3">
                <button
                    class="px-3"
                    mat-button
                    [disabled]="isSendingComment"
                    [color]="'primary'"
                    (click)="sendComment()">
                    <span *ngIf="!isSendingComment">{{ 'profile.posts.send-comment' | translate }}</span>
                    <mat-progress-spinner
                        *ngIf="isSendingComment"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>
        </div>
        <ng-container *ngIf="post.comments?.length">
            <hr class="border-b mx-4 sm:mx-8 my-0">
            <div class="max-h-120 overflow-y-auto">
                <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                    <ng-container *ngFor="let comment of post.comments; let i = index; let last = last">
                        <div class="flex justify-between items-center">
                            <div class="flex items-start">
                                <img
                                    *ngIf="comment.sender?.photo"
                                    class="w-10 min-w-10 h-10 rounded-full mr-4 cursor-pointer"
                                    [src]="comment.sender?.photo"
                                    [routerLink]="['/profile', comment.sender.userId]"
                                    alt="Card cover image">
                                <mat-icon
                                    *ngIf="!comment.sender?.photo"
                                    class="w-10 min-w-10 h-10 rounded-full mr-4 bg-gray-200 cursor-pointer"
                                    [svgIcon]="'heroicons_solid:user-circle'"
                                    [routerLink]="['/profile', comment.sender.userId]">
                                </mat-icon>
                                <div class="flex flex-col mt-0.5">
                                    <b>{{ comment.sender.name }}</b>
                                    <span class="break-all">{{ comment.commentText }}</span>
                                </div>
                            </div>
                            <button
                                *ngIf="comment.sender.userId == currentUser.userId"
                                mat-icon-button
                                [color]="'warn'"
                                (click)="deleteComment(i, comment.commentId)">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            </button>
                        </div>
                        <hr
                            *ngIf="!last"
                            class="border-b mx-4 sm:mx-8">
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</fuse-card>
