<fuse-card
    *ngIf="user"
    @zoomIn
    @zoomOut
    class="flex w-240 h-140">
    <div [ngStyle]="{ 'flex': '60%' }">
        <carousel
            *ngIf="user?.gallery.length"
            [isAnimated]="true"
            [showIndicators]="false">
            <slide *ngFor="let image of user?.gallery">
                <img
                    class="w-full h-full object-cover"
                    alt="slide"
                    [src]="image">
            </slide>
        </carousel>
        <img
            *ngIf="!user?.gallery.length"
            class="w-full h-full object-cover"
            src="assets/images/defaults/default-placeholder.png">
    </div>
    <div
        class="flex flex-col justify-between m-8 mb-4"
        [ngStyle]="{ 'flex': '40%' }">
        <div>
            <div class="text-2xl font-semibold leading-tight">{{ user.name }}</div>
            <hr class="w-full border-t my-6">
            <div
                *ngIf="user?.about"
                class="mb-6">
                {{ user.about }}
            </div>
            <div class="flex flex-col">
                <div
                    *ngIf="user?.sex"
                    class="flex items-center">
                    <span class="font-semibold">{{ 'dating.person-card.sex' | translate }}&#160;</span>
                    <span class="leading-none">{{ getSex }}</span>
                </div>
                <div
                    *ngIf="user.birthday.toString() !== '0001-01-01T00:00:00'"
                    class="flex items-center mt-4">
                    <span class="font-semibold">{{ 'dating.person-card.age' | translate }}&#160;</span>
                    <span class="leading-none">{{ getAge }}</span>
                </div>
                <div
                    *ngIf="user?.region"
                    class="flex items-center mt-4">
                    <span class="font-semibold">{{ 'dating.person-card.location' | translate }}&#160;</span>
                    <span class="leading-none">{{ user.region }}</span>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <button
                class="mr-1"
                mat-fab
                [color]="'accent'"
                (click)="ignore()">
                <mat-icon
                    class="icon-size-8"
                    [svgIcon]="'heroicons_solid:x'"></mat-icon>
            </button>
            <button
                class="ml-1"
                mat-fab
                [color]="'primary'"
                (click)="like()">
                <mat-icon
                    class="icon-size-8"
                    [svgIcon]="'heroicons_solid:heart'"></mat-icon>
            </button>
        </div>
    </div>
</fuse-card>
