<mat-dialog-content>
    <div class="flex flex-col">
        <!-- Sex -->
        <span class="text-center font-semibold">{{ 'navigation.dating-settings.looking-for' | translate }}</span>
        <mat-button-toggle-group
            class="flex flex-col mt-4"
            [(ngModel)]="sex">
            <mat-button-toggle
                value="All">{{ 'navigation.dating-settings.all' | translate }}</mat-button-toggle>
            <mat-button-toggle
                class="mt-2"
                value="Male">{{ 'navigation.dating-settings.male' | translate }}</mat-button-toggle>
            <mat-button-toggle
                class="mt-2 border"
                value="Female">{{ 'navigation.dating-settings.female' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>

        <hr class="w-full border-t my-6">

        <!-- Age -->
        <span class="text-center font-semibold">{{ 'navigation.dating-settings.age' | translate }}</span>
        <div class="relative h-20">
            <lib-ngx-mat-range-slider
                [minColor]="'accent'"
                [maxColor]="'primary'"
                [min]="18"
                [max]="100"
                [value]="{min: minAge, max: maxAge}"
                (output)="onAgeChange($event)"></lib-ngx-mat-range-slider>
        </div>

        <!-- Interest -->
        <mat-form-field class="w-full">
            <mat-label>{{ 'navigation.dating-settings.interest' | translate }}</mat-label>
            <input
                matInput
                [maxlength]="15"
                [(ngModel)]="interest">
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
        </mat-form-field>

        <!-- Region -->
        <mat-form-field class="w-full">
            <mat-label>{{ 'navigation.dating-settings.region' | translate }}</mat-label>
            <input
                matInput
                [maxLength]="20"
                [(ngModel)]="region">
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex flex-row justify-center">
    <button
        mat-button
        mat-dialog-close
        [color]="'primary'">
        {{ 'navigation.dating-settings.close' | translate }}
    </button>
    <button
        mat-flat-button
        mat-dialog-close
        [color]="'primary'"
        (click)="save()">
        {{ 'navigation.dating-settings.save' | translate }}
    </button>
</mat-dialog-actions>
