<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">{{ 'sign-up.title' | translate }}</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>{{ 'sign-up.account' | translate }}</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">{{ 'sign-up.sign-in' | translate }}
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="true"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                class="mt-8"
                [formGroup]="signUpForm">

                <!-- Sex field -->
                <mat-form-field class="w-full">
                    <mat-select
                        id="sex"
                        [placeholder]="'common.placeholder.sex' | translate"
                        [formControlName]="'sex'">
                        <mat-option value="Male">{{ 'sign-up.sex.man' | translate }}</mat-option>
                        <mat-option value="Female">{{ 'sign-up.sex.woman' | translate }}</mat-option>
                    </mat-select>
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('sex').hasError('required')">
                        {{ 'common.error.required' | translate: { field: currentLanguage === 'ru' ? 'Пол' : 'Sex' } }}
                    </mat-error>
                </mat-form-field>

                <!-- Name field -->
                <mat-form-field class="w-full">
                    <input
                        id="name"
                        matInput
                        [placeholder]="'common.placeholder.name' | translate"
                        [formControlName]="'name'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                        {{ 'common.error.required' | translate: { field: currentLanguage === 'ru' ? 'Имя и отчество' : 'Full name' } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('name').hasError('maxlength')">
                        {{ 'common.error.length' | translate: { title: currentLanguage === 'ru' ? 'Максимальная' : 'Max', length: 30 } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('name').hasError('pattern')">
                        {{ 'common.error.pattern' | translate: { field: currentLanguage === 'ru' ? 'имени и отчества' : 'name' } }}
                    </mat-error>
                </mat-form-field>

                <!-- Birthday field -->
                <mat-form-field class="w-full">
                    <input
                        matInput
                        disabled
                        [min]="minDate"
                        [max]="maxDate"
                        [placeholder]="'common.placeholder.birthday' | translate"
                        [matDatepicker]="picker"
                        [formControlName]="'birthday'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker">
                        <mat-icon
                            class="icon-size-5"
                            matDatepickerToggleIcon
                            [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker
                        #picker
                        touchUi
                        [disabled]="false"></mat-datepicker>
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('birthday').hasError('required')">
                        {{ 'common.error.required' | translate: { field: currentLanguage === 'ru' ? 'Дата рождения' : 'Birthday' } }}
                    </mat-error>
                </mat-form-field>

                <!-- Region field -->
                <mat-form-field class="w-full">
                    <input
                        id="region"
                        matInput
                        [placeholder]="'common.placeholder.region' | translate"
                        [formControlName]="'region'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('region').hasError('required')">
                        {{ 'common.error.required' | translate: { field: currentLanguage === 'ru' ? 'Страна/город' : 'Region' } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('region').hasError('maxlength')">
                        {{ 'common.error.length' | translate: { title: currentLanguage === 'ru' ? 'Максимальная' : 'Max', length: 30 } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('region').hasError('pattern')">
                        {{ 'common.error.pattern' | translate: { field: currentLanguage === 'ru' ? 'страны/города' : 'region' } }}
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <input
                        id="email"
                        matInput
                        [placeholder]="'common.placeholder.email' | translate"
                        [formControlName]="'email'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        {{ 'common.error.required' | translate: { field: currentLanguage === 'ru' ? 'Почтовый адрес' : 'Email address' } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        {{ 'common.error.email' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <input
                        id="password"
                        matInput
                        type="password"
                        [placeholder]="'common.placeholder.password' | translate"
                        [formControlName]="'password'"
                        #passwordField>
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:key'"></mat-icon>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.get('password').hasError('required')">
                        {{ 'common.error.required' | translate: { field: currentLanguage === 'ru' ? 'Пароль' : 'Password' } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('password').hasError('minlength')">
                        {{ 'common.error.length' | translate: { title: currentLanguage === 'ru' ? 'Минимальная' : 'Min', length: 6 } }}
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('password').hasError('maxlength')">
                        {{ 'common.error.length' | translate: { title: currentLanguage === 'ru' ? 'Максимальная' : 'Max', length: 12 } }}
                    </mat-error>
                </mat-form-field>

                <!-- PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'agreements'">
                        <span>{{ 'sign-up.agree' | translate }}</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            (click)="openPrivacyPolicy()">{{ 'sign-up.privacy-policy.title' | translate }}
                        </a>
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        {{ 'sign-up.create-your-account' | translate }}
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>{{ 'common.welcome.title.welcome-to' | translate }}</div>
                <div>{{ 'common.welcome.title.our-community' | translate }}</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                {{ 'common.welcome.description' | translate }}
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-18.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-11.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-09.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">{{ 'common.welcome.people-joined' | translate }}</div>
            </div>
        </div>
    </div>
</div>
